{% extends 'base.html' %}

<head>
    <title>{% block title %}{{ Assignments }}{% endblock%}</title>
</head>

{% block content %}
<div class="container-fluid"> 
  <h1>Assignments</h1>&nbsp; &nbsp; <button class="btn btn-primary btn-group btn-group-xs">New</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Piece</th>

        <th>Sheet Music (if final)</th>
        
        <th>Part</th>

        <th>Performer</th>
        
        <th>Concert</th>

        {% if evtassign.event %}
        {% for i in assignment.concert.events %}<th>
         Event {{ i|loop.index }}</th>{% endfor %}{% endif %}

      </tr>
    </thead>
          <tr>            
            <td><a href="/piece/{{ assignment.concert_sheet.sheet.piece.piece_id }}">{{ assignment.concert_sheet.sheet.piece.title }}</a></td>
            <td><a href="/sheet/{{ assignment.concert_sheet.sheet.sheet_id }}">{{ assignment.concert_sheet.sheet.sheet_id }}</a></td>
            <td>{{ perfinst }}</td>
            <td>{{ event.location }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>

<br/>


<div>
  <h2>Assignments</h2>  &nbsp; &nbsp;<button class="btn btn-primary btn-group btn-group-sm">New</button> 
    <a href="/"><button class="btn btn-success btn-group btn-group-sm">Search for music</button></a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Piece title</th>
        <th>Composer</th>
        <th>Group</th>
        <th>Time</th>
        {% if concert.events %}
          {% for i in concert.events %}
            <th>Performance {{ loop.index }}<br/>Assignments</th>
          {% endfor %}
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% if concert_sheets %}
        {% for concert_sheet in concert_sheets %}
          <tr>            
            <td>{{ concert_sheet.sheet.piece.title }}</td>
            <td>{{ concert_sheet.sheet.piece.composer }}</td>
            <td>{{ concert_sheet.group_sheets[0].group.name}}</td>
            <td>{{ concert_sheet.sheet.duration|mins_secs }} </td>
                    {% if concert.events %}
          {% for i in concert.events %}<td><a href="/assignments/"</a>{{ concert_sheet.assignments|count }} assigned <button class="btn-group btn-group-xs btn-primary">View</button>  </td>        {% endfor %}
        {% endif %}
          </tr>
          {% endfor %}
      {% endif %}

    </tbody>
                      
  </table>
</div>
</div>


{% endblock %}