<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}PUT PAGE TITLE HERE{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<!-- This is the header I stole from one of our homework exercises! -->
  <div class="container">
    <header>
      <div class="row">
        <a href="/">
          <img id="logo" src="/static/images/ironlamblogo.jpg">
          <span id="tagline">Your gigs - all set!</span>
        </a>
          <span>
            <a href="/register"><input type="button" id="regbtn" name="register" 
               value="Register"></a>
            <a href="/register"><input type="button" id="loginbtn" name="login" 
               value="Log in"></a>
            <a href="/logout"><input type="button" id="logoutbtn" name="logout" 
               value="Log out"></a>
          </span>
      </div>
    </header>
  </div>

<!-- this is the flashed message area for each page -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <h2><li> {{ message }} </li></h2>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

<!-- this is the block for custom content of each page-->
{% block content %}
BODY OF PAGE HERE
{% endblock %}

<!-- Important copyright footer! Also stolen from homework exercises. -->
  <footer>
    <div class="row">        
      <p>&copy; 2017 IronLamb&trade;</p>
      </div>
  </footer>
</body>

</html>