{% extends 'base.html' %}

<head>
<title>{% block title %}{% endblock%}</title>
</head>

{% block content %}

  <div id="homepage-block">
    <h1 id="homepage-title">In Concert</h1>
      <h2>Your comprehensive music library and concert planning tool.</h2>

{% if not "user_id" in session %}
        <p>Some very informative stuff about this AMAZING app, and why you
          really should <a href="/register"> register today!</a></p>
{% endif %}

{% if "user_id" in session %}
  </div>
    <form action="search" method="GET">
      <div class="form-group">
        <label>
          <h3>Search for a piece by title, composer, or key word.</h3>
        </label>

        <input type="text" name="search" class="formfield" required>
      </div><br>
      <div class="form-group">
        <br\><input type="submit" value="Search" class="submitbtn">
      </div>
    </form>
{% endif %}

{% endblock %}