{% extends 'base.html' %}

<head>
    <title>{% block title %}{{ (piece.title) }}{% endblock%}</title>
</head>

{% block content %}
<div class="container-fluid"> 
  <div>
  <h2>{{ piece.title }} &nbsp;&nbsp;
    <span class="btnToggle">
        <button class="del_upiece" id="del-{{ piece.piece_id }}" data-pieceId="{{ piece.piece_id }}" 
        {% if not piece.is_users_piece(session.get('user_id')) %}hidden{% endif %}>Remove from 
        Library</button>
        <button class="add_upiece" id="add-{{ piece.piece_id }}" data-pieceId="{{ piece.piece_id }}" {% if piece.is_users_piece(session.get('user_id')) %}hidden{% endif %}>Add to Library</button>
    </span>


  </h2>

  <ul style="list-style-type:none">
    <li>Title: {{ piece.title }}</li>
    <li>Composer: {{ piece.composer }}</li>
    <li>Lyricist: {{ piece.lyricist|none_filter }}</li>
    <li>Genre: {% for genre in piece.piece_genres %} 
                {{ genre.genre.name }} {% endfor %}</li>
    <li>Publication Year: {{ piece.publication_year|none_filter }}</li>
    <li>Number of voices: {{ piece.original_num_voices|none_filter }}</li>
    <li>Original Voicing: {{ piece.original_voicing|none_filter }}</li>
    <li>Original Language: {{ piece.original_language|none_filter }}</li>
    <li>Instrumentation: {{ piece.original_language|none_filter }}</li>
    <li>Description: {{ piece.description|none_filter }}</li>
    <li>CPDL Page: {{ piece.page_id }}</li>

  </ul>
</div>
<div>
  {% if piece.sheets %}
      <h3>Sheet music versions:</h3>
      <ul style="list-style-type:none">{% for sheet in piece.sheets %}
        <li>
          <a href="/sheets/{{ sheet.sheet_id }}">{{ sheet.edition_notes }}
            (ID #:{{ sheet.sheet_id }})
           </a> &nbsp;&nbsp;        
            <span class="btnToggle">
              <button class="del_usheet" id="del-{{sheet.sheet_id}}" data-sheetId="{{ sheet.sheet_id }}" {% if not sheet.is_users_sheet(session.get('user_id')) %}hidden{% endif %}>Remove from Library</button>
              <button class="add_usheet" id="add-{{sheet.sheet_id}}" data-sheetId="{{ sheet.sheet_id }}" {% if sheet.is_users_sheet(session.get('user_id')) %}hidden{% endif %}>Add to Library</button>
            </span>
        </li> 
      {% endfor %}
      </ul> 
      {% endif %}
  </div> 
 
      <div>
        {% if piece.text_original %}
        <div><h3>Original {{ piece.original_language }} Text:</h3>
          <div>{{ piece.text_original|safe }}</div>
        </div>
          {% endif %}
      </div>
</div>

  {% if piece.text_english %}
    <div><h3>English Translation:</h3>
      <p class="texts">{{ piece.text_english|safe }}
    </p>
    </div>
  {% endif %}


{% endblock %}

