{% extends 'base.html' %}

<head>
    <title>{% block title %}Register{% endblock%}</title>
</head>

{% block content %}
 

<div class="container-fluid" id="login">
  <div class="row">


<div class="col-xs-6 col-md-6 side" id="registration">
<h2 class="title pink" id="reg-title">New user? &nbsp;Register here:</h2>  
    <form action="register" method="POST" id="regform" name="regform">
      <div class="form-group">
          <label>
              Email*
              <input type="email" name="email" class="formfield" required>
          </label>
      </div>

      <div class="form-group">
          <label>
              Password*
              <input type="password" name="password" class="formfield" required>
          </label>
      </div>

      <div class="form-group">
          <label>
              First Name*
              <input type="text" name="fname" class="formfield" required>
          </label>
      </div>

      <div class="form-group">
          <label>
              Last Name*
              <input type="text" name="lname" class="formfield" required>
          </label>
      </div>

      <div class="form-group">
          <label>
              Title
              <input type="text" name="title" class="formfield">
          </label>
      </div>

      <div class="form-group">
          <label>
              Phone
              <input type="text" name="phone" class="formfield">
          </label>
           </div>
       <div class="form-group">
          <label>
              * Required field
          </label>
           </div>
      <div class="form-group">
          <input type="submit" value="Register" class="btn btn-success">
      </div>
      </form>
    </div>

    <div class="col-xs-2 col-md-2"></div>

    <div class="col-xs-6 col-md-4 side" id="login-title"><h2 class="pink">Already have an account?<br>Log in here:</h2>  
    <form action="login" method="POST" id="loginform" name="loginform">
      <div class="form-group">
          <label>
              Email*
              <input type="email" name="email" class="formfield" required>
          </label>
      </div>

      <div class="form-group">
          <label>
              Password*
              <input type="password" name="password" class="formfield" required>
          </label>
      </div>
             <div class="form-group">
          <label>
              * Required field
          </label>
           </div>
      <div class="form-group">
          <input type="submit" value="Log me in" class="btn btn-success">
      </div>
    </form>
  </div>
  </div> 
</div>  
{% endblock %}