{% extends 'base.html' %}

<head>
    <title>{% block title %}{{ sheet.piece.title }} #{{ sheet.sheet_id }}{% endblock%}</title>
</head>

{% block content %}
<div> <a href="{{ sheet.music_url }}" target="_blank"><h2>{{ sheet.piece.title }} 
       ({% if sheet.voicing %}{{ sheet.voicing }}
          {% else %}{{ sheet.piece.original_voicing }}
          {% endif %}
        {% if sheet.key %}, {{ sheet.key }}{% endif %})</h2></a>
  {% if sheet.edition_notes %}
    <h3>Edition notes: {{ sheet.edition_notes}}</h3>
  {% endif %}
      <ul>
        <li>Editor: {{ sheet.editor }}</li>
        <li>Arranger: {{ sheet.arranger }}</li>
        <li>Instrumentation: {{ sheet.instrumentation }}</li>
        <li>Language: {{ sheet.language }}</li>
        {% if sheet.alt_language %}<li>Alternate language: {{ sheet.alt_language }}</li>
        {% endif %}
        <li>Time Signature: {{ sheet.time_signature }}</li>
        <li>Tempo: {{ sheet.tempo }}</li>
        <li>Score Type: {{ sheet.score_type }}</li>
        <li>License Type: {{ sheet.license_type }}</li>
        <li>Licenses owned: {{ sheet.num_lic_owned }}</li>
        <li>Owner: {{ sheet.owner.name }}</li>
        <li>Source: {{ sheet.provider.name }}</li>
      </ul>
</div>
  {% if sheet.audiofiles %}
  <h3>Associated Files:</h3>
      {% for aud in sheet.audiofiles %}
      <ul style="list-style-type:none"> 
        <li><a href="{{ aud.url }}" download>{{ aud.file_type }} 
          ({{ aud.voicing_details }})</a>
        </li>
      </ul>
      {% endfor %}
</div>
  {% endif %}

{% endblock %}