{% extends 'base.html' %}

<head>
    <title>{% block title %}{{ user.fname }} {{ user.lname }}{% endblock%}</title>
</head>

{% block content %}
  {% if "user_id" in session %}
    <br>
    <div>
      <h2>My Home Page</h2>

      <h3>My Concerts</h3><br\>
      <!-- add button / links to create a new concert -->
      {% if user.concerts %}

        <ul>
        {% for concert in user.concerts %}
          <li>
            <a href="/concerts/{{ concert.concert_id }}">
              {{ concert.name }}
            </a> 
          </li>
        {% endfor %}
        </ul>
      {% endif %}

      <h3>My Library</h3><br\>
      <!-- add button / link to search for a piece -->
      {% if user.user_pieces %}

        <ul>
        {% for upiece in user.user_pieces %}
          <li>
            <a href="/pieces/{{ upiece.piece.piece_id }}">{{ upiece.piece.title }}</a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}

      <p>ADD GROUPS / "My Groups" list + create new button?</p><br\>

      <p>ADD ROSTERS / "My Rosters" list + create new button?</p><br\>

    </div>
  {% else %}
    <div>
      <a href="/register">Log in or register to see your home page.</a>
    </div>
{% endif %}

{% endblock %}